.vistaAdministradorMantenimChild {
  align-self: stretch;
  height: -94px;
  position: relative;
  background-color: var(--color-black);
  display: none;
}
.mantenimiento {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.projectDetails {
  align-self: stretch;
  flex-direction: column;
  gap: 21px 0;
}
.mantenimientoParent,
.projectDetails,
.vistaAdministradorMantenimInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.mantenimientoParent {
  width: 1434px;
  flex-direction: column;
  gap: 55px 0;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-impact);
}
.vistaAdministradorMantenimInner {
  width: 1536px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.vistaAdministradorMantenim {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-14xl) 0 153px;
  gap: 21px 0;
  letter-spacing: normal;
}

.actualizarUsuarioChild {
  height: 48px;
  width: 163.2px;
  position: relative;
  background-color: var(--color-orange);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: none;
}
.actualizarUsuario1 {
  height: 27px;
  position: relative;
  font-size: var(--font-size-mid);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.actualizarUsuario {
  position: absolute;
  top: 165px;
  right: 850px;
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: var(--padding-smi) var(--padding-smi) var(--padding-5xs)
    var(--padding-base);
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.eliminarUsuariosSeleccionados:hover,
.actualizarUsuario:hover,
.crearUsuario:hover,
.crearUsuarioChild {
  background-color: var(--color-darkgoldenrod);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.crearUsuarioChild {
  height: 48px;
  width: 170.9px;
  position: relative;
  background-color: var(--color-orange);
  border: 1px solid var(--color-gray-200);
  display: none;
}
.EliminarSeleccionados,
.crearNuevo {
  position: relative;
  font-size: var(--font-size-mid);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.crearUsuario {
  position: absolute;
  top: 165px;
  right: 670px;
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: var(--padding-smi) var(--padding-20xl) var(--padding-sm)
    var(--padding-24xl);
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.actualizarUsuarioParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 42px;
  max-width: 100%;
}
.eliminarUsuariosSeleccionados{
  position: absolute;
  top: 165px;
  right: 500px;
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: var(--padding-smi) var(--padding-20xl) var(--padding-sm)
    var(--padding-24xl);
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
@media screen and (max-width: 800px) {
  .mantenimiento {
    font-size: var(--font-size-32xl);
  }
  .mantenimientoParent {
    gap: 55px 0;
  }
}
@media screen and (max-width: 450px) {
  .mantenimiento {
    font-size: var(--font-size-19xl);
  }
}
