.LugarOrigen{
  font-family: "Inter", sans-serif;
  color: aliceblue;
  position: absolute;
  top: 130px;
  left: 185px;
}
.InputLugarOrigen{
  height: 30px;
  width: 180px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 155px;
  left: 180px;
}

.LugarDestino{
  font-family: "Inter", sans-serif;
  color: aliceblue;
  position: absolute;
  top: 130px; 
  left: 488px;
}

.InputLugarDestino{
  height: 30px;
  width: 180px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 155px; 
  left: 480px;
}

.FechaFinal{
  font-family: "Inter", sans-serif;
  color: aliceblue;
  position: absolute;
  top: 130px; 
  left: 1300px;
}

.inputFechaFinal{
  width: 155px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 160px; 
  left: 1300px;
}

.FechaInicio{
  font-family: "Inter", sans-serif;
  color: aliceblue;
  position: absolute;
  top: 130px; 
  left: 1110px;
}

.inputFechaInicio{
  width: 130px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 160px; 
  left: 1100px;
}

.frameParent,
.ventanaConsultarDisponibilidInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 23px;
}
.ventanaConsultarDisponibilidInner {
  width: 1700px;
  flex-direction: row;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
}
.ventanaConsultarDisponibilid {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 95px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .ventanaConsultarDisponibilid {
    gap: 47px;
  }
}
@media screen and (max-width: 450px) {
  .ventanaConsultarDisponibilid {
    gap: var(--gap-5xl);
  }
}