.selfInfoFrame,
.selfInfoFrame1 {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.selfInfoFrame {
  height: 278px;
  bottom: 0;
}
.selfInfoFrame1 {
  height: 331px;
  top: 146px;
}
.logoButton,
.misin {
  position: relative;
  z-index: 1;
}
.misin {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.logoButton {
  height: 6px;
  flex: 1;
  background-color: var(--color-sandybrown-100);
}
.missionFrame {
  padding: 0 var(--padding-11xs);
  margin-top: -10px;
}
.visionImage {
  font-size: var(--font-size-41xl);
  font-family: var(--font-impact);
}
.brindarSolucionesIntegrales,
.conAltosEstndares,
.nuestraMisinEs,
.primasSiendoEl,
.yServiciosDe {
  margin: 0;
}
.textoMision {
  height: 175px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.productsButtonsGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-25xl) var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.brindarSolucionesIntegrales1,
.elCliente,
.especializadaYServicios,
.infraestructuraCumpliendoCo,
.nuestraMisinEs1,
.primasSiendoEl1 {
  margin: 0;
}
.textoVision {
  width: 1297px;
  height: 210px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.ventanaSobreNosotrosInner,
.visionImageParent {
  display: flex;
  align-items: flex-start;
}
.visionImageParent {
  width: 1742px;
  flex-direction: column;
  gap: 10px 0;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-jura);
}

.ventanaSobreNosotros {
  width: 1742px;
  position: relative;
  background-color: var(--color-black);
  flex-direction: column;
  padding: 0 0 var(--padding-6xl);
}
@media screen and (max-width: 900px) {
  .misin {
    font-size: var(--font-size-29xl);
  }
  .textoMision,
  .textoVision {
    font-size: var(--font-size-5xl);
  }
  .ventanaSobreNosotros {
    gap: 36px 0;
  }
}
@media screen and (max-width: 450px) {
  .misin {
    font-size: var(--font-size-17xl);
  }
  .textoMision,
  .textoVision {
    font-size: var(--font-size-lg);
  }
  .ventanaSobreNosotros {
    gap: 18px 0;
  }
}
