@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.detallesDelProducto {
  position: absolute;
  top: 217px;
  left: 144px;
  font-size: var(--font-size-33xl);
}
.informacinDeCadaProductoChild {
  position: absolute;
  top: 275px;
  left: 146px;
  background-color: var(--color-darkkhaki);
  width: 278px;
  height: 6px;
}
.manipuladoraDe {
  margin: 0;
}
.manipuladoraDeMaterialesContainer {
  position: absolute;
  top: 423px;
  left: 1058px;
  font-size: var(--font-size-33xl);
}
.descripcinGeneral {
  position: absolute;
  top: 1249px;
  left: 111px;
}
.productosSimilares {
  position: relative;
}
.productosSimilaresWrapper {
  position: absolute;
  top: 6160px;
  left: 665px;
  background-color: var(--color-black);
  border: 3px solid var(--color-sandybrown-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px var(--padding-mini);
}
.informacinDeCadaProductoItem {
  position: absolute;
  top: 318px;
  left: 0;
  background-color: var(--color-white);
  width: 1728px;
  height: 4px;
}
.consultarPrecio,
.mh3050 {
  font-family: var(--font-jura);
}
.mh3050 {
  position: absolute;
  top: 549px;
  left: 1061px;
  font-size: 48px;
}
.consultarPrecio {
  position: relative;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  text-align: left;
}
.botonAgregarAlCarrito,
.botonConsultarPrecio {
  cursor: pointer;
  border: 0;
  background-color: var(--color-sandybrown-100);
  position: absolute;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botonConsultarPrecio {
  padding: var(--padding-5xs) 81px;
  top: 5988px;
  left: calc(50% - 228px);
}
.botonConsultarPrecio:hover {
  cursor: pointer;
}
.botonConsultarPrecio:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.botonAgregarAlCarrito {
  padding: var(--padding-5xs) 66px;
  top: 1046px;
  left: 1058px;
  width: 617px;
  box-sizing: border-box;
}
.botonAgregarAlCarrito:hover {
  cursor: pointer;
}
.botonAgregarAlCarrito:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.manipuladorafondo1Icon {
  position: absolute;
  top: 398px;
  left: -92px;
  width: 1106px;
  height: 738px;
  object-fit: cover;
}
.especificacionesPrincipales,
.modeloDelMotorContainer {
  position: absolute;
  top: 682px;
  left: 1058px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-jura);
}
.modeloDelMotorContainer {
  top: 752px;
}
.mayorProductividad {
  position: absolute;
  top: 1304px;
  left: 111px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-krona-one);
}
.informacinDeCadaProductoInner {
  position: absolute;
  top: 1295px;
  left: 112px;
  background-color: var(--color-darkkhaki);
  width: 334px;
  height: 3px;
}
.especificacionesDelProducto {
  width: 538px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 0;
}
.frameChild,
.frameItem {
  width: 529px;
  position: absolute;
  margin: 0 !important;
  top: 44px;
  left: 1px;
  background-color: var(--color-darkkhaki);
  height: 5px;
  z-index: 1;
}
.frameItem {
  z-index: 2;
}
.especificacionesDelProductoParent {
  position: absolute;
  top: 1896px;
  left: calc(50% - 269px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 10px;
}
.elCatMh3050Container {
  position: absolute;
  top: 1376px;
  left: 112px;
  font-size: var(--font-size-11xl);
  font-weight: 500;
  font-family: var(--font-jura);
  text-align: justify;
}
.rectangleIcon {
  position: absolute;
  top: 6307px;
  left: 0;
  width: 575px;
  height: 408px;
  object-fit: cover;
}
.informacinDeCadaProductoChild1,
.informacinDeCadaProductoChild2 {
  position: absolute;
  top: 6307px;
  left: 575px;
  width: 585px;
  height: 408px;
  object-fit: cover;
}
.informacinDeCadaProductoChild2 {
  left: 1160px;
  width: 575px;
}
.informacinDeCadaProductoChild3,
.rectangleDiv {
  position: absolute;
  top: 6292px;
  left: 0;
  background-color: var(--color-sandybrown-100);
  width: 1728px;
  height: 8px;
}
.informacinDeCadaProductoChild3 {
  top: 6722px;
}
.motor {
  position: relative;
  z-index: 0;
}
.frameInner {
  width: 97px;
  position: absolute;
  margin: 0 !important;
  top: 43px;
  left: 0;
  background-color: var(--color-darkkhaki);
  height: 5px;
  z-index: 1;
}
.modeloDelMotorParent,
.motorParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.motorParent {
  align-items: flex-start;
  position: relative;
  gap: 0 10px;
  font-family: var(--font-impact);
}
.modeloDelMotorParent {
  width: 1434px;
  background-color: var(--color-gray-200);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-mini) var(--padding-29xl);
  box-sizing: border-box;
  gap: 0 491px;
}
.calibreParent,
.potenciaNetaIso14396Parent,
.velocidadAParMximoDelMotParent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.calibreParent {
  width: 1434px;
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 685px;
}
.potenciaNetaIso14396Parent,
.velocidadAParMximoDelMotParent {
  width: 1438px;
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-33xl);
  gap: 0 359px;
}
.velocidadAParMximoDelMotParent {
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 181px;
}
.frameChild1 {
  width: 99px;
  position: absolute;
  margin: 0 !important;
  top: 43px;
  left: 0;
  background-color: var(--color-darkkhaki);
  height: 5px;
  z-index: 1;
}
.cargaTilNominalParent {
  width: 1434px;
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-29xl);
  box-sizing: border-box;
  gap: 0 476px;
}
.frameChild2 {
  width: 206px;
  position: absolute;
  margin: 0 !important;
  top: 43px;
  left: 0;
  background-color: var(--color-darkkhaki);
  height: 5px;
  z-index: 1;
}
.avance1Parent {
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 628px;
}
.avance1Parent,
.avance2Parent,
.avance3Parent {
  width: 1438px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.avance2Parent {
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 619px;
}
.avance3Parent {
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-33xl);
  gap: 0 614px;
}
.avance4Parent,
.avance5Parent {
  padding: var(--padding-mini) var(--padding-29xl);
}
.avance4Parent {
  width: 1438px;
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 620px;
}
.avance5Parent {
  background-color: var(--color-gray-200);
  gap: 0 618px;
}
.avance5Parent,
.avance6Parent,
.retroceso1Parent {
  width: 1438px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.avance6Parent {
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 618px;
}
.retroceso1Parent {
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-33xl);
  gap: 0 569px;
}
.frameChild3 {
  width: 256px;
  position: relative;
  background-color: var(--color-darkkhaki);
  height: 5px;
}
.placaDeLaCajaParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: var(--font-impact);
}
.aceroResistenteAlContainer,
.tipo {
  width: 82px;
  position: relative;
  display: inline-block;
  height: 80.6px;
  flex-shrink: 0;
}
.aceroResistenteAlContainer {
  width: 556px;
  height: 161px;
}
.tipoParent {
  width: 1438px;
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 14px;
  box-sizing: border-box;
  gap: 0 738px;
}
.frameChild4 {
  width: 635px;
  position: absolute;
  margin: 0 !important;
  top: 43px;
  left: 0;
  background-color: var(--color-darkkhaki);
  height: 5px;
  z-index: 1;
}
.tiempoDeLevantamientoParent {
  width: 1431px;
  background-color: var(--color-gray-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-29xl);
  box-sizing: border-box;
  gap: 0 343px;
}
.tiempoDeBajada {
  position: relative;
  white-space: pre-wrap;
}
.tiempoDeBajadaParent {
  width: 1431px;
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 481px;
}
.frameChild5 {
  width: 126px;
  position: absolute;
  margin: 0 !important;
  top: 43px;
  left: 0;
  background-color: var(--color-darkkhaki);
  height: 5px;
  z-index: 1;
}
.frenosParent {
  width: 1434px;
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 693px;
}
.cabinaFopsParent,
.cabinaRopsParent,
.direccinParent,
.frenosParent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.cabinaFopsParent {
  width: 1434px;
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 572px;
}
.cabinaRopsParent,
.direccinParent {
  width: 1438px;
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-33xl);
  gap: 0 565px;
}
.direccinParent {
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 641px;
}
.frameChild6 {
  width: 426px;
  position: absolute;
  margin: 0 !important;
  top: 43px;
  left: 0;
  background-color: var(--color-darkkhaki);
  height: 5px;
  z-index: 1;
}
.totalCargadoParent {
  width: 1434px;
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 550px;
}
.ejeTraseroCargaNominalParent,
.totalCargaNominalParent,
.totalCargadoParent,
.totalVacoParent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.ejeTraseroCargaNominalParent {
  width: 1434px;
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 323px;
}
.totalCargaNominalParent,
.totalVacoParent {
  width: 1438px;
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-33xl);
  gap: 0 604px;
}
.totalCargaNominalParent {
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 436px;
}
.ejeCentralCargadoParent {
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 439px;
}
.ejeCentralCargaNominalParent,
.ejeCentralCargadoParent,
.ejeDelanteroCargaNominalParent {
  width: 1434px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.ejeDelanteroCargaNominalParent {
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 278px;
}
.ejeCentralCargaNominalParent {
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) var(--padding-33xl);
  gap: 0 321px;
}
.ejeCentralVacoParent,
.ejeTraseroConCargaParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-29xl);
}
.ejeCentralVacoParent {
  width: 1434px;
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  gap: 0 497px;
}
.ejeTraseroConCargaParent {
  background-color: var(--color-gray-200);
  gap: 0 405px;
}
.ejeDelanteroConCargaParent,
.ejeTraseroConCargaParent,
.ejeTraseroSinCargaParent {
  width: 1434px;
  overflow: hidden;
  flex-direction: row;
  box-sizing: border-box;
}
.ejeDelanteroConCargaParent {
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 359px;
}
.ejeTraseroSinCargaParent {
  background-color: var(--color-gray-200);
  padding: var(--padding-mini) 44px;
  gap: 0 418px;
}
.ejeDelanteroSinCargaParent,
.ejeTraseroSinCargaParent,
.informacionGeneralDelProduc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ejeDelanteroSinCargaParent {
  width: 1434px;
  background-color: var(--color-black);
  border: 3px solid var(--color-gray-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-29xl);
  gap: 0 373px;
}
.informacionGeneralDelProduc {
  position: absolute;
  top: 2025px;
  left: calc(50% - 719px);
  flex-direction: column;
  gap: 27px 0;
  font-family: var(--font-jura);
}
.frameChild7 {
  width: 277px;
  position: absolute;
  margin: 0 !important;
  top: 52px;
  left: 2px;
  background-color: var(--color-darkkhaki);
  height: 7px;
  z-index: 1;
}
.contactenosParent,
.footer5Inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactenosParent {
  flex-direction: row;
  position: relative;
  gap: 0 10px;
}
.footer5Inner {
  width: 1728px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-130xl) var(--padding-mini)
    var(--padding-81xl);
  box-sizing: border-box;
  font-size: var(--font-size-31xl);
  font-family: var(--font-impact);
}
.atencionalclienterhinocom {
  margin: 0;
  width: 445px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.atencionalclienterhinocomWrapper {
  width: 1728px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-130xl) var(--padding-11xl)
    var(--padding-81xl);
  box-sizing: border-box;
}
.textoCelular,
.textoTelefono,
.ul {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.ul {
  padding-left: var(--padding-21xl);
}
.textoCelular,
.textoTelefono {
  width: 227px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.textoTelefono {
  width: 177px;
}
.botonXChild {
  width: 44px;
  position: absolute;
  margin: 0 !important;
  top: 5px;
  left: 4px;
  background-color: var(--color-white);
  height: 44px;
  z-index: 0;
}
.gorjeo1Icon {
  z-index: 1;
}
.botonYtIcon,
.gorjeo1Icon {
  width: 54px;
  position: relative;
  height: 54px;
  object-fit: cover;
}
.footer5,
.textoCelularParent {
  display: flex;
  justify-content: flex-start;
}
.textoCelularParent {
  width: 1728px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-xl) var(--padding-40xl) var(--padding-xl)
    var(--padding-83xl);
  box-sizing: border-box;
  gap: 0 182px;
}
.footer5 {
  position: absolute;
  top: 6842px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-jura);
}
.headerInformacionDeProductoChild {
  width: 1742px;
  position: relative;
  background-color: var(--color-black);
  height: 50px;
  z-index: 0;
}
.headerInformacionDeProductoItem {
  width: 1742px;
  position: relative;
  background-color: var(--color-sandybrown-100);
  height: 96px;
  z-index: 1;
}
.botonLogo10 {
  width: 127px;
  position: absolute;
  margin: 0 !important;
  top: 59px;
  left: 55px;
  height: 78px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.botonProductos10,
.botonSobreNosotros {
  width: 134px;
  position: absolute;
  margin: 0 !important;
  top: 81px;
  left: 276px;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}
.botonSobreNosotros {
  width: 196px;
  left: 467px;
  z-index: 4;
}
.botonLupa10,
.perfil1Icon {
  width: 43px;
  height: 43px;
  object-fit: cover;
}
.botonLupa10 {
  position: absolute;
  margin: 0 !important;
  top: 76px;
  left: 1392px;
  z-index: 5;
}
.perfil1Icon {
  position: relative;
}
.botonMiCuenta10 {
  margin: 0 !important;
  position: absolute;
  top: 71px;
  left: 1462px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-9xl);
  gap: 0 5px;
  z-index: 6;
  font-size: var(--font-size-6xl);
}
.carritoDeCompras1Icon {
  width: 58px;
  position: absolute;
  margin: 0 !important;
  top: 66px;
  left: 1300px;
  height: 58px;
  object-fit: cover;
  cursor: pointer;
  z-index: 7;
}
.headerInformacionDeProducto {
  position: absolute;
  top: -7px;
  left: -14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-impact);
}
.informacinDeCadaProducto {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 7131px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-impact);
}
