@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.ventanaPrincipal2Child {
  position: absolute;
  top: 3342px;
  left: 450px;
  width: 1279px;
  height: 513px;
  object-fit: cover;
}
.ventanaPrincipal2Item {
  position: absolute;
  top: 146px;
  left: calc(50% - 878px);
  width: 1742px;
  height: 556px;
  object-fit: cover;
}
.empieceAConstruir,
.rentalos {
  margin: 0;
  position: absolute;
  top: 368px;
  left: 221px;
  font-size: var(--font-size-35xl);
  font-weight: 400;
  font-family: var(--font-impact);
}
.rentalos {
  top: 1246px;
  left: -23px;
  font-size: var(--font-size-441xl);
  color: var(--color-gray-500);
}
.ventanaPrincipal2Inner {
  position: absolute;
  top: 428px;
  left: 223px;
  background-color: var(--color-goldenrod);
  width: 468px;
  height: 11px;
}
.potenciaTusProyectos {
  display: block;
}
.accesoAEquipos {
  display: block;
  white-space: pre-wrap;
}
.potenciaTusProyectosContainer {
  margin: 0;
  position: absolute;
  top: 463px;
  left: 221px;
  font-size: var(--font-size-11xl);
  font-weight: 700;
  font-family: var(--font-advent-pro);
}
.compactadoraSinFondo1,
.materialesSinFondo1 {
  position: absolute;
  top: 1077px;
  left: 1114px;
  width: 529px;
  height: 302px;
  object-fit: cover;
}
.materialesSinFondo1 {
  top: 999px;
  left: 15px;
  width: 577px;
  height: 433px;
  cursor: pointer;
}
.cargadorDeCadenasSinFonod,
.maquinaSinFondo2 {
  position: absolute;
  top: 1736px;
  left: 55px;
  width: 528px;
  height: 352px;
  object-fit: cover;
}
.maquinaSinFondo2 {
  top: 1701px;
  left: 606px;
  width: 499px;
  height: 374px;
}
.camionobrasSinFondo1,
.cargadoraDeRuedasSinFondo {
  position: absolute;
  top: 1695px;
  left: 1137px;
  width: 577px;
  height: 433px;
  object-fit: cover;
}
.camionobrasSinFondo1 {
  top: 1049px;
  left: 604px;
  width: 474px;
  height: 356px;
}
.signoMasEnUnCirculoBlanco,
.signoMasEnUnCirculoBlanco1,
.signoMasEnUnCirculoBlanco2,
.signoMasEnUnCirculoBlanco3,
.signoMasEnUnCirculoBlanco4,
.signoMasEnUnCirculoBlanco5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1532px;
  left: 304px;
  width: 51px;
  height: 51px;
  background-image: url(/public/boton-info-maq@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.signoMasEnUnCirculoBlanco1:active,
.signoMasEnUnCirculoBlanco2:active,
.signoMasEnUnCirculoBlanco3:active,
.signoMasEnUnCirculoBlanco4:active,
.signoMasEnUnCirculoBlanco5:active,
.signoMasEnUnCirculoBlanco:active {
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.signoMasEnUnCirculoBlanco1,
.signoMasEnUnCirculoBlanco2,
.signoMasEnUnCirculoBlanco3,
.signoMasEnUnCirculoBlanco4,
.signoMasEnUnCirculoBlanco5 {
  top: 2240px;
}
.signoMasEnUnCirculoBlanco2,
.signoMasEnUnCirculoBlanco3,
.signoMasEnUnCirculoBlanco4,
.signoMasEnUnCirculoBlanco5 {
  top: 1532px;
  left: 816px;
}
.signoMasEnUnCirculoBlanco3,
.signoMasEnUnCirculoBlanco4,
.signoMasEnUnCirculoBlanco5 {
  top: 2240px;
}
.signoMasEnUnCirculoBlanco4,
.signoMasEnUnCirculoBlanco5 {
  top: 1532px;
  left: 1395px;
}
.signoMasEnUnCirculoBlanco5 {
  top: 2240px;
}
.verMs {
  cursor: pointer;
  border: 8px solid var(--color-darkkhaki);
  padding: var(--padding-7xl) var(--padding-55xl);
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 2409px;
  left: calc(50% - 139px);
  border-radius: var(--br-lg);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.verMs:hover {
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.verMs:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.manipuladorDeMetales {
  position: absolute;
  top: 1417px;
  left: 159px;
}
.caminDeObras,
.precio,
.precio1 {
  position: absolute;
  top: 1454px;
  left: 289px;
}
.caminDeObras,
.precio1 {
  top: 2181px;
}
.caminDeObras {
  top: 1417px;
  left: 724px;
}
.aplanadora,
.precio2,
.precio3 {
  position: absolute;
  top: 1454px;
  left: 801px;
}
.aplanadora,
.precio3 {
  top: 2181px;
}
.aplanadora {
  top: 1417px;
  left: 1337px;
}
.precio4,
.precio5 {
  position: absolute;
  top: 1454px;
  left: 1380px;
}
.precio5 {
  top: 2181px;
}
.cargadoraDeRuedas {
  position: absolute;
  top: 2139px;
  left: 192px;
}
.cargadoraDeRuedas1,
.mototralas {
  position: absolute;
  top: 2139px;
  left: 769px;
}
.cargadoraDeRuedas1 {
  left: 1283px;
}
.productosDestacados {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.frameChild {
  position: absolute;
  top: 66px;
  left: 87px;
  background-color: var(--color-goldenrod);
  width: 369px;
  height: 11px;
}
.frame {
  position: absolute;
  top: 870px;
  left: calc(50% - 272px);
  width: 543px;
  height: 77px;
  overflow: hidden;
  font-size: var(--font-size-35xl);
  font-family: var(--font-impact);
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 601px;
  height: 361px;
  object-fit: cover;
}
.potencia {
  margin: 0;
  position: absolute;
  top: 148px;
  left: 197px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 218px;
  height: 66px;
}
.frame3,
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 361px;
}
.frame3 {
  width: 601px;
  overflow: hidden;
}
.frameInner {
  width: 572px;
  object-fit: cover;
}
.eficiencia {
  margin: 0;
  position: absolute;
  top: 148px;
  left: 187px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 239px;
  height: 66px;
}
.frame4 {
  position: absolute;
  top: 0;
  left: 601px;
  width: 572px;
  height: 361px;
  overflow: hidden;
}
.rendimiento {
  margin: 0;
  position: absolute;
  top: 148px;
  left: 145px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 292px;
  height: 66px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 609px;
  height: 361px;
  object-fit: cover;
}
.rendimiento1 {
  position: absolute;
  top: 148px;
  left: 161px;
}
.frame1,
.frame2,
.frame5 {
  position: absolute;
  top: 0;
  left: 1173px;
  width: 609px;
  height: 361px;
  overflow: hidden;
}
.frame1,
.frame2 {
  left: 26px;
  width: 1782px;
}
.frame1 {
  top: 2615px;
  left: -24px;
  width: 1751px;
  font-size: var(--font-size-35xl);
  font-family: var(--font-impact);
}
.alquilaMaquinariaDesata,
.haciendoPosibleLo {
  margin: 0;
  position: absolute;
  display: inline-block;
}
.haciendoPosibleLo {
  top: 3534px;
  left: 288px;
  font-size: var(--font-size-81xl);
  font-weight: 400;
  font-family: var(--font-impact);
  width: 794px;
  height: 244px;
}
.alquilaMaquinariaDesata {
  top: 3778px;
  left: 275px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  font-family: inherit;
  width: 1176px;
  height: 61px;
}
.maquinariaPesada {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-jura);
  color: var(--color-white);
  text-align: left;
}
.botonMaquinariaPesada {
  padding: var(--padding-3xl) var(--padding-xl);
  top: 3006px;
  left: 144px;
}
.botonMaquinariaPesada:hover {
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.botonMaquinariaPesada:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.botonMaquinariaPesada,
.botonMarcas,
.botonVehiculos {
  cursor: pointer;
  border: 8px solid var(--color-darkkhaki);
  background-color: var(--color-gainsboro);
  position: absolute;
  border-radius: var(--br-lg);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botonMarcas {
  padding: var(--padding-3xl) var(--padding-86xl);
  top: 3006px;
  left: calc(50% - 125px);
}
.botonMarcas:hover {
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.botonMarcas:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.botonVehiculos {
  padding: var(--padding-3xl) var(--padding-59xl);
  top: 3021px;
  left: 1323px;
}
.botonVehiculos:hover {
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.botonVehiculos:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.rectangleDiv {
  position: absolute;
  top: 3647px;
  left: 706px;
  background-color: var(--color-darkkhaki);
  width: 315px;
  height: 9px;
}
.contactenos {
  position: relative;
  z-index: 0;
}
.frameChild1 {
  width: 277px;
  position: absolute;
  margin: 0 !important;
  top: 52px;
  left: 2px;
  background-color: var(--color-darkkhaki);
  height: 7px;
  z-index: 1;
}
.contactenosParent,
.footer2Inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contactenosParent {
  flex-direction: row;
  position: relative;
  gap: 0 10px;
}
.footer2Inner {
  width: 1728px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-130xl) var(--padding-mini)
    var(--padding-81xl);
  box-sizing: border-box;
  font-size: var(--font-size-31xl);
  font-family: var(--font-impact);
}
.atencionalclienterhinocom {
  margin: 0;
  width: 445px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.atencionalclienterhinocomWrapper {
  width: 1728px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-130xl) var(--padding-11xl)
    var(--padding-81xl);
  box-sizing: border-box;
}
.textoCelular,
.textoTelefono,
.ul {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.ul {
  padding-left: var(--padding-21xl);
}
.textoCelular,
.textoTelefono {
  width: 227px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.textoTelefono {
  width: 177px;
}
.botonXChild {
  width: 44px;
  position: absolute;
  margin: 0 !important;
  top: 5px;
  left: 4px;
  background-color: var(--color-white);
  height: 44px;
  z-index: 0;
}
.gorjeo1Icon {
  width: 54px;
  position: relative;
  height: 54px;
  object-fit: cover;
  z-index: 1;
}
.botonX {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 0 10px;
}
.botonProductos7:hover,
.botonX:active,
.botonX:hover,
.botonYtIcon:active,
.botonYtIcon:hover {
  cursor: pointer;
}
.botonYtIcon {
  width: 54px;
  position: relative;
  height: 54px;
  object-fit: cover;
}
.footer2,
.textoCelularParent {
  display: flex;
  justify-content: flex-start;
}
.textoCelularParent {
  width: 1728px;
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-xl) var(--padding-40xl) var(--padding-xl)
    var(--padding-83xl);
  box-sizing: border-box;
  gap: 0 182px;
}
.footer2 {
  position: absolute;
  top: 3981px;
  left: -1px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-jura);
}
.headerVentanaPrincipal2Child,
.headerVentanaPrincipal2Item {
  width: 1742px;
  position: relative;
  background-color: var(--color-black);
  height: 50px;
  z-index: 0;
}
.headerVentanaPrincipal2Item {
  background-color: var(--color-sandybrown-100);
  height: 96px;
  z-index: 1;
}
.botonLogo7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 127px;
  position: absolute;
  margin: 0 !important;
  top: 59px;
  left: 55px;
  height: 78px;
  background-image: url(/public/logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.botonProductos7 {
  cursor: pointer;
  width: 134px;
  top: 81px;
  left: 276px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 3;
}
.botonProductos7:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.botonLupa7,
.botonProductos7,
.botonSobreNosotros {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
}
.botonSobreNosotros {
  cursor: pointer;
  width: 196px;
  top: 81px;
  left: 467px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  z-index: 4;
}
.botonSobreNosotros:hover {
  cursor: pointer;
}
.botonSobreNosotros:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.botonLupa7 {
  width: 43px;
  top: 76px;
  left: 1392px;
  height: 43px;
  background-image: url(/public/boton-de-buscar@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 5;
}
.botonLupa7,
.botonLupa7:active,
.botonLupa7:hover {
  cursor: pointer;
}
.perfil1Icon {
  width: 43px;
  position: relative;
  height: 43px;
  object-fit: cover;
}
.miCuenta {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
}
.botonMiCuenta7,
.carritoDeCompras4Icon {
  position: absolute;
  margin: 0 !important;
  cursor: pointer;
}
.botonMiCuenta7 {
  border: 2px solid var(--color-black);
  padding: var(--padding-8xs) var(--padding-9xl);
  background-color: var(--color-gainsboro);
  top: 71px;
  left: 1462px;
  border-radius: var(--br-6xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 5px;
  z-index: 6;
}
.carritoDeCompras4Icon {
  width: 58px;
  top: 66px;
  left: 1307px;
  height: 58px;
  object-fit: cover;
  z-index: 7;
}
.headerVentanaPrincipal2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.informacinPersonal {
  position: relative;
  font-size: var(--font-size-9xl);
  font-family: var(--font-jura);
  color: var(--color-white);
  text-align: left;
}
.botonInformacinPersonal {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 19px;
}
.contrasena1Icon {
  width: 40px;
  position: relative;
  height: 40px;
  object-fit: cover;
}
.botonContraYSegu {
  display: flex;
  justify-content: flex-start;
  gap: 0 16px;
}
.botonAyuda,
.botonContraYSegu,
.botonHistorial {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
}
.botonAyuda {
  display: flex;
  justify-content: flex-start;
  gap: 0 18px;
}
.botonHistorial {
  gap: 0 27px;
}
.botonCerrarSesion,
.botonHistorial,
.menDeOpciones {
  display: flex;
  justify-content: flex-start;
}
.botonCerrarSesion {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  gap: 0 19px;
}
.menDeOpciones {
  position: absolute;
  top: 124px;
  left: 1232px;
  border-radius: var(--br-6xs);
  background-color: var(--color-gray-400);
  border: 3px solid var(--color-darkkhaki);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-7xl) var(--padding-11xl);
  gap: 19px 0;
}
.ventanaPrincipal2 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 4270px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-jura);
}
