@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.informacinPersonal {
  position: absolute;
  top: 248px;
  left: 497px;
  font-size: var(--font-size-56xl);
  font-family: var(--font-impact);
}
.ventanaDeInformacinPersonaChild {
  position: absolute;
  top: 417px;
  left: 169px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  width: 1405px;
  height: 590px;
}
.nombreCompleto {
  position: absolute;
  top: 484px;
  left: 339px;
}
.div,
.sebastianPicoAfanador {
  position: absolute;
  top: 484px;
  left: 812px;
}
.div {
  top: 560px;
}
.cll18,
.div1,
.picoafanadorgmailcom {
  position: absolute;
  top: 636px;
  left: 812px;
}
.cll18,
.div1 {
  top: 712px;
}
.cll18 {
  top: 788px;
}
.correo,
.identificacin {
  position: absolute;
  top: 560px;
  left: 339px;
}
.correo {
  top: 636px;
}
.direccin,
.telfono {
  position: absolute;
  top: 712px;
  left: 337px;
}
.direccin {
  top: 788px;
  left: 341px;
}
.ventanaDeInformacinPersonaItem {
  position: absolute;
  top: 853px;
  left: 293px;
  background-color: var(--color-white);
  width: 1142px;
  height: 2px;
}
.editarInformacin {
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-jura);
  color: var(--color-black);
  text-align: left;
}
.botonEditarInformacion {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-mid);
  background-color: var(--color-white);
  position: absolute;
  top: 896px;
  left: 686px;
  border-radius: var(--br-6xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.botonEditarInformacion:hover {
  cursor: pointer;
}
.botonEditarInformacion:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.headerInformacionPersonalChild,
.headerInformacionPersonalItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1742px;
  height: 50px;
}
.headerInformacionPersonalItem {
  top: 50px;
  background-color: var(--color-darkkhaki);
  height: 96px;
}
.botonLogo3 {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 59px;
  left: 55px;
  width: 127px;
  height: 78px;
  background-image: url(/public/logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.botonLogo3,
.botonLogo3:active,
.botonLogo3:hover {
  cursor: pointer;
}
.botonProductos3 {
  cursor: pointer;
  top: 81px;
  left: 276px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.botonProductos3:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.botonLupa3,
.botonProductos3,
.botonSobreNosotros {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.botonSobreNosotros {
  cursor: pointer;
  top: 81px;
  left: 467px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.botonSobreNosotros:hover {
  cursor: pointer;
}
.botonSobreNosotros:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.botonLupa3 {
  top: 76px;
  left: 1378px;
  width: 43px;
  height: 43px;
  background-image: url(/public/boton-de-buscar@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.botonLupa3,
.botonLupa3:active,
.botonLupa3:hover,
.botonMiCuenta3:hover {
  cursor: pointer;
}
.perfil1Icon {
  width: 43px;
  position: relative;
  height: 43px;
  object-fit: cover;
}
.miCuenta {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
}
.botonMiCuenta3 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-8xs) var(--padding-9xl);
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 71px;
  left: 1458px;
  border-radius: var(--br-6xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 5px;
}
.botonMiCuenta3:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.carritoDeCompras2Icon {
  position: absolute;
  top: 66px;
  left: 1283px;
  width: 58px;
  height: 58px;
  object-fit: cover;
  cursor: pointer;
}
.headerInformacionPersonal1 {
  width: 1742px;
  position: relative;
  height: 146px;
  z-index: 0;
}
.headerInformacionPersonalInner {
  width: 132px;
  position: absolute;
  margin: 0 !important;
  top: 20px;
  left: 1027px;
  background-color: transparent;
  height: 6px;
  z-index: 1;
}
.headerInformacionPersonal {
  position: absolute;
  top: 2px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 0;
}
.ventanaDeInformacinPersona {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
  font-family: var(--font-jura);
}
