@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.productHighlights {
  align-self: center;
  display: flex;
  padding: 0px;
  max-width: 100%;
  height: 90px;
}
.rentalos {
  top: 400px;
  left: -35px;
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: -1;
}

.maquinaSinFondo2 {
  height: 374px;
  width: 499px;
  bottom: -355px;
  left: 591px;
}
.camionobrasSinFondo1,
.cargadoraDeRuedasSinFondo,
.maquinaSinFondo2 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
  z-index: 1;
}
.motorGrade {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.botonInfoMaq {
  position: absolute;
  top: 230px;
  width: 51px;
  height: 51px;
  background-image: url(/public/boton-info-maq@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.botonInfoMaq {
  left: 304px;
}
.botonInfoMaq,
.botonInfoMaq:hover {
  cursor: pointer;
}
.botonInfoMaq:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}

.wheeledLoader {
  height: 0px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 197px;
  left: 0;
  font-size: var(--font-size-441xl);
  color: var(--color-gray-500);
  font-family: var(--font-impact);
}
.manipuladorDeMetales {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.caminDeObras {
  position: relative;
  z-index: 1;
}
.metalWorksVehicle {
  width: 798px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 223px;
  max-width: 100%;
}

.chainLoaders {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px;
  box-sizing: border-box;
  position: relative;
  min-height: 758px;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-jura);
  z-index: 1;
}
@media screen and (max-width: 1350px) {
  .chainLoaders {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .metalWorksVehicle {
    flex-wrap: wrap;
  }
  .chainLoaders {
    padding-left: var(--padding-60xl);
    padding-right: var(--padding-93xl);
    box-sizing: border-box;
    margin-top: 1px;
  }
  
}
@media screen and (max-width: 800px) {
  .rentalos {
    font-size: var(--font-size-165xl);
  }
  .metalWorksVehicle {
    gap: 0 111px;
  }
}
@media screen and (max-width: 450px) {
  .rentalos {
    font-size: var(--font-size-96xl);
  }
  .caminDeObras,
  .manipuladorDeMetales {
    font-size: var(--font-size-xl);
  }
  .metalWorksVehicle {
    gap: 0 56px;
  }
  .chainLoaders {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

}
