.contactenos {
  width: 281px;
  border: 0;
  outline: 0;
  font-family: var(--font-impact);
  font-size: var(--font-size-31xl);
  background-color: transparent;
  height: 61px;
  position: relative;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.detailedInfoButton {
  height: 7px;
  flex: 1;
  position: relative;
  background-color: var(--color-darkkhaki);
}
.attentionIcon,
.rectangleShape,
.textCellularBackground {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleShape {
  width: 281px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  margin-top: -9px;
}
.attentionIcon,
.textCellularBackground {
  align-self: stretch;
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-81xl) var(--padding-mini);
}
.textCellularBackground {
  width: 100%;
  border: 0;
  outline: 0;
  height: 89px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-81xl) var(--padding-11xl);
  box-sizing: border-box;
  font-family: var(--font-jura);
  font-weight: 600;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  min-width: 250px;
  z-index: 1;
}
.ul {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-21xl);
}
.textoCelular {
  align-self: stretch;
  height: 44px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.textoCelular:hover {
  font-weight: 700;
  font-family: var(--font-jura);
  text-align: left;
}
.textoCelular:active {
  cursor: default;
}
.socialMediaBtns {
  width: 227px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.ul1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-21xl);
}
.textoTelefono {
  align-self: stretch;
  height: 44px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.socialMediaBtns1 {
  width: 177px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.roundedRectangleShape {
  height: 44px;
  width: 44px;
  position: absolute;
  margin: 0 !important;
  top: 5px;
  left: 4px;
  background-color: var(--color-white);
}
.gorjeo1Icon {
  height: 54px;
  width: 54px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.botonX {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 0 10px;
}
.botonFacebookIcon:active,
.botonFacebookIcon:hover,
.botonInstaIcon:active,
.botonInstaIcon:hover,
.botonX:active,
.botonX:hover,
.botonYtIcon:active,
.botonYtIcon:hover {
  cursor: pointer;
}
.botonFacebookIcon,
.botonInstaIcon,
.botonYtIcon {
  height: 54px;
  width: 54px;
  position: relative;
  object-fit: contain;
  min-height: 54px;
}
.botonFacebookIcon,
.botonInstaIcon {
  object-fit: cover;
}
.buttonsGroup,
.contactInfoFrame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.buttonsGroup {
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-77xl) var(--padding-xl)
    var(--padding-83xl);
  gap: var(--gap-xl);
  z-index: 2;
}
.contactInfoFrame {
  width: 1742px;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-jura);
}
@media screen and (max-width: 1100px) {
  .buttonsGroup {
    flex-wrap: wrap;
    padding-left: var(--padding-32xl);
    padding-right: var(--padding-29xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .contactenos {
    font-size: var(--font-size-21xl);
  }
  .attentionIcon {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .textoCelular,
  .textoTelefono {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 450px) {
  .contactenos {
    font-size: var(--font-size-11xl);
  }
  .textoCelular,
  .textoTelefono {
    font-size: var(--font-size-lg);
  }
  .buttonsGroup {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
