.logoFrameIcon {/*imagen de fondo de empiece a contruir*/
  height: 556px;
  width: 1742px;
  position: absolute;
  margin: 0 !important;
  bottom: -556px;
  left: -14px;
  object-fit: cover;
}
.logoFrameIcon2 {/*imagen de fondo de empiece a contruir*/
  height: 556px;
  width: 1742px;
  position: absolute;
  margin: 0 !important;
  bottom: -556px;
  left: -14px;
  object-fit: cover;
}
.logoButtonChild {/*altura del header*/
  align-self: stretch;
  height: 50px;
  position: relative;
  background-color: var(--color-black);
}
.logoButton,
.logoFrameParent {/*la anchura de la barra amarilla*/
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.logoButton {/*la anchura de la barra amarilla*/
  height: 310px;
  width: 1728px;
  flex-direction: column;
  padding: 0 0 var(--padding-203xl) 0;
  box-sizing: border-box;
}
.logoFrameParent {/*la anchura de la barra amarilla*/
  height: 146px;
  flex-direction: row;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 450px) {
  .logoButton {
    padding-bottom: var(--padding-125xl);
    box-sizing: border-box;
  }
}
