@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.frameChild {
  height: 96px;
  width: 1742px;
  position: relative;
  background-color: var(--color-darkkhaki);
  display: none;
  max-width: 100%;
}
.botonLogo6 {
  width: 127px;
  flex: 1;
  position: relative;
  background-image: url(/public/boton-logo-6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.botonLogo6,
.botonLogo6:active,
.botonLogo6:hover,
.botonProductos6:hover {
  cursor: pointer;
}
.logoButton {
  align-self: stretch;
  width: 184px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.botonProductos6,
.botonSobreNosotros {
  position: relative;
  cursor: pointer;
  z-index: 2;
}
.botonProductos6:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.botonSobreNosotros {
  white-space: nowrap;
}
.botonSobreNosotros:hover {
  cursor: pointer;
}
.botonSobreNosotros:active {
  cursor: pointer;
  animation: 1s ease 0s infinite normal none pulsate;
  opacity: 1;
}
.cartIcon,
.searchIconButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.searchIconButton {
  flex-direction: row;
  gap: 0 57px;
}
.cartIcon {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.carritoDeCompras3Icon {
  width: 58px;
  height: 58px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.myAccountFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.botonLupa6 {
  width: 43px;
  height: 43px;
  position: relative;
  background-image: url(/public/boton-lupa-6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.frameLogin {
  width: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
}
.frameItem {
  height: 51px;
  width: 193px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.miCuenta,
.perfil1Icon {
  position: relative;
  z-index: 1;
}
.perfil1Icon {
  height: 43px;
  width: 43px;
  object-fit: cover;
}
.miCuenta {
  font-size: var(--font-size-6xl);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
  white-space: nowrap;
}
.oldPasswordFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) 0 0;
}
.rectangleGroup {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-9xs) var(--padding-lg) var(--padding-9xs)
    var(--padding-xl);
  background-color: var(--color-gray-700);
  border-radius: var(--br-8xs);
  flex-direction: row;
  gap: var(--gap-8xs);
  z-index: 2;
}
.mainFrame,
.rectangleGroup,
.rectangleParent,
.usernameInputField {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.usernameInputField {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.mainFrame,
.rectangleParent {
  align-self: stretch;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  background-color: var(--color-darkkhaki);
  padding: var(--padding-4xs) var(--padding-9xl) var(--padding-4xs)
    var(--padding-36xl);
  gap: 0 37px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-impact);
}
.mainFrame {
  height: 197px;
  padding: 0 0 var(--padding-82xl);
}
@media screen and (max-width: 1500px) {
  .searchIconButton {
    display: none;
  }
}
@media screen and (max-width: 1225px) {
  .rectangleParent {
    padding-left: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .searchIconButton {
    gap: 0 28px;
  }
  .rectangleParent {
    gap: 0 18px;
  }
}
