.logoFrameChild {
  height: 96px;
  width: 1748px;
  position: relative;
  background-color: var(--color-gold);
  display: none;
  max-width: 100%;
}
.logofinalRemovebgPreview1Icon {
  height: 78px;
  width: 127px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.usuarios {
  height: 34px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.usersFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.proyectos {
  flex: 1;
  position: relative;
  z-index: 2;
}
.userFrameChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
}
.projectFrame1,
.userFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.userFrame {
  flex: 1;
  gap: 11px 0;
}
.projectFrame1 {
  width: 149px;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.mantenimiento,
.productos {
  height: 34px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
.productsMaintenanceFrame {
  margin: 0;
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-impact);
}
.contentFrame {
  height: 56px;
  width: 973px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.usuario1Icon {
  height: 36px;
  width: 36px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.perfilAdminChild {
  height: 53px;
  width: 217px;
  position: relative;
  border-radius: var(--br-2xs);
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.administrador {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-impact);
  color: var(--color-black);
  text-align: left;
}
.adminProfileFrame,
.perfilAdmin {
  display: flex;
  justify-content: flex-start;
}
.perfilAdmin {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: var(--padding-4xs) var(--padding-xs) var(--padding-5xs)
    var(--padding-2xs);
  background-color: var(--color-gainsboro-200);
  border-radius: var(--br-2xs);
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  z-index: 1;
}
.adminProfileFrame {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.logoFrame,
.projectFrame,
.subProjectFrame {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.logoFrame {
  width: 1748px;
  background-color: var(--color-gold);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-18xl) var(--padding-5xs)
    var(--padding-9xl);
  gap: var(--gap-xl);
  max-width: 101%;
  flex-shrink: 0;
  z-index: 1;
}
.projectFrame,
.subProjectFrame {
  align-items: flex-start;
  padding: 0;
  max-width: 100%;
}
.subProjectFrame {
  width: 1730px;
  justify-content: flex-start;
}
.projectFrame {
  justify-content: flex-end;
}
@media screen and (max-width: 1325px) {
  .productsMaintenanceFrame {
    display: none;
  }
  .contentFrame {
    width: 0;
  }
}
