.cargarSoat {
  position: relative;
}
.frameCargarTecnicoMecanicaChild {
  height: 29px;
  width: 196px;
  position: relative;
  display: none;
}


@media screen and (max-width: 450px) {
  .cargarSoat {
    font-size: var(--font-size-lgi);
  }
}
