.nombreDeUsuario {
  position: relative;
  white-space: pre-wrap;
}
.selectTypeUserFrame {
  border: 1px solid var(--color-black);
  outline: 0;
  background-color: var(--color-white);
  align-self: stretch;
  height: 42px;
  position: relative;
  box-sizing: border-box;
  min-width: 227px;
}
.casillaNombreDeUsuario {
  width: 379px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.direccin {
  position: relative;
}
.userTypeFieldFrame {
  border: 1px solid var(--color-black);
  outline: 0;
  background-color: var(--color-white);
  align-self: stretch;
  height: 42px;
  position: relative;
  box-sizing: border-box;
  min-width: 227px;
}
.casillaDireccin,
.userNicknameFrame {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.casillaDireccin {
  width: 379px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.userNicknameFrame {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-arial-rounded-mt-bold);
}
@media screen and (max-width: 1125px) {
  .userNicknameFrame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .direccin,
  .nombreDeUsuario {
    font-size: var(--font-size-lgi);
  }
}
